# Base de datos PostgreSQL
USER_DB=postgres
USER_PASSWORD=postgres
SERVER_DB=localhost
NAME_DB=samec
PORT=5432

# Flask
FLASK_ENV=development
FLASK_APP=run:app
SECRET_KEY=supersecretkey

# Correo (opcional)
MAIL_SERVER=smtp.office365.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=tu_correo@outlook.com
MAIL_PASSWORD=tu_password
MAIL_DEFAULT_SENDER=('Mi App Flask', 'tu_correo@outlook.com')

# Uploads
UPLOADED_PATH=uploads
DROPZONE_UPLOAD_MULTIPLE=False
DROPZONE_ALLOWED_FILE_CUSTOM=True
DROPZONE_ALLOWED_FILE_TYPE=pdf
DROPZONE_MAX_FILE_SIZE=5
