{% extends "layout.html" %}

{% block content %}

<div class="card">
    <div class="card-header py-4">
        <h4>Lista de Redes</h4>
    </div>

    <div class="card-body">
        <table id="tablaRedes" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>CODIGO RED</th>
                    <th>NOMBRE</th>
                    <th>MACRORREGION</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('redes.static', filename='js/event.js') }}"></script>
<script>
    RedesEvent.init();
</script>
{% endblock %}
