.steps {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    padding: 0px 0;
    white-space: nowrap;
}

/* Scroll */
.steps::-webkit-scrollbar {
    height: 8px;
}

.steps::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 10px;
}

/* Línea continua */
.steps::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 60px;
    right: 60px;
    height: 3px;
    background-color: #dcdcdc;
    z-index: 1;
}

/* Cada paso */
.steps .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 120px;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Contenedor icono */
.steps .step .step-icon-wrap {
    position: relative;
    width: 100%;
    height: 60px;
}

/* Eliminar líneas individuales */
.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: none;
}

/* Iconos */
.step-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #dee2e6;
    color: #6c757d;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    border: 4px solid white;
}

/* Paso completado */
.step.completed .step-icon {
    background: #198754;
    color: white;
}

/* Paso activo */
.step.active .step-icon {
    background: #0d6efd;
    color: white;
}

/* Título */
.step-title {
    margin-top: 10px;
    font-size: 13px;
    white-space: normal;
    line-height: 1.3;
}

/* Card */
.card {
    border: none;
    border-radius: 15px;
}

/* Header */
.header-dark {
    background: #212529;
    color: white;
    border-radius: 15px 15px 0 0;
}

.dropzone_hitos{
    padding: 0.5rem !important
}

.dropzone_hitos .dz-message{
    padding-left: 3px !important;
    padding-top: 5px !important
}

.dropzone_hitos .dz-preview{
    min-height: 20px !important;
    margin: 0rem !important;
}