{% extends "layout.html" %}

{% block content %}

<div class="card">
    <div class="card-header py-4">
        <h4>Actualizar Fuentes Auditables</h4>
    </div>

    <div class="card-body">

        <div class="row mb-4">
            <div class="col-md-4">
                <label class="form-label">Macroproceso</label>
                <select id="sel_macroproceso" class="form-select select2"></select>
            </div>

            <div class="col-md-4">
                <label class="form-label">Estándar</label>
                <select id="sel_estandar" class="form-select select2">
                    <option value="0">Seleccione</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Criterios</label>
                <select id="sel_criterio" class="form-select select2">
                    <option value="0">Seleccione</option>
                </select>
            </div>
        </div>

        <table id="tablaCombinada" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>MACROPROCESO</th>
                    <th>ESTÁNDAR</th>
                    <th>CRITERIOS</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('acredita.static', filename='js/macroproceso.js') }}"></script>
<script>
    MacroprocesoEvent.init();
</script>
{% endblock %}
