{% extends "layout.html" %}
{% block content %}
<div class="card">
    <div class="card-header card-subtitle-header py-6">
       Hitos de la Acreditación
    </div>
    <div class="card-body pt-2">
        <div class="steps d-flex flex-wrap justify-content-between pb-5">
                  <!-- HITO 1 -->
                  <div class="step completed">
                      <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-diagram-3 fs-3 text-white"></i></div></div>Hito 1
                  </div>
                  <!-- HITO 2 -->
                  <div class="step completed">
                    <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-diagram-3 fs-3 text-white"></i></div></div>Hito 2
                  </div>
                  <!-- HITO 3 -->
                  <div class="step completed">
                    <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-diagram-3 fs-3 text-white"></i></div></div>Hito 3
                  </div>
                  <!-- HITO 4 -->
                  <div class="step active">
                    <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-diagram-3 fs-3 text-white"></i></div></div>Hito 4
                  </div>
                  <!-- HITO 5 -->
                  <div class="step">
                    <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-diagram-3 fs-3 text-white"></i></div></div>Hito 5
                  </div>
                  <!-- HITO 6 -->
                  <div class="step">
                      <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-journal-3 fs-3 text-white"></i></div></div>Hito 6
                  </div>
                  <!-- HITO 7 -->
                  <div class="step">
                      <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-gear-3 fs-3 text-white"></i></div></div>Hito 7
                  </div>
                  <!-- HITO 8 -->
                  <div class="step">
                      <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-person-3 fs-3 text-white"></i></div></div>Hito 8
                  </div>
                  <!-- HITO 9 -->
                  <div class="step">
                      <div class="step-icon-wrap"><div class="step-icon"><i class="bi bi-person-3 fs-3 text-white"></i></div></div>Hito 9
                  </div>
        </div>
        <table class="table align-middle table-bordered">
            <thead class="table-light text-center">
                <tr>
                    <th class="btn-text-azul" width="22%">Hito</th>
                    <th class="btn-text-azul" width="20%">Equipos</th>
                    <th class="btn-text-azul" width="15%">Plantilla</th>
                    <th class="btn-text-azul" width="30%">Subir Formato</th>
                    <th class="btn-text-azul" width="13%">Ver Reporte</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="btn-text-azul">Hito 1: Conformación del Equipo de Acreditación</td>
                    <td>
                        <button class="btn btn-sm btn-secondary me-3 btn-text-azul btn-edit-hito1" data-id="{{id_autoevaluacion}}" data-bs-target="#modalHito1" data-bs-toggle="modal">
                            <i class="bi bi-people-fill"></i>Definir Equipo de Acreditación
                        </button>
                    </td>
                    <td>
                        <a href="#" class="btn btn-sm btn-secondary me-3 btn-text-azul" id="btnDescargarHito1" >
                            <i class="bi bi-download"></i>Descargar Resolución
                        </a>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-sm btn-secondary me-3 btn-text-azul btn-save-hito1" data-id="{{id_autoevaluacion}}" data-bs-target="#modalResolucionHito1" data-bs-toggle="modal">
                            <i class="bi bi-people-fill"></i>Subir Resolución de Equipo de Acreditación
                        </button>
                    </td>
                    <td class="text-center">
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-eye-fill"></i>Ver Resolución
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="btn-text-azul">Hito 2: Conformación del Equipo de Evaluadores Internos</td>
                    <td>
                        <button class="btn btn-sm btn-secondary me-3 btn-text-azul btn-edit-criterio" data-bs-target="#modalHito1" data-bs-toggle="modal">
                            <i class="bi bi-people-fill"></i>Definir Equipo de Evaluadores Internos
                        </button>
                    </td>
                    <td>
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul btn-edit-criterio" >
                            <i class="bi bi-download"></i>Descargar Resolución
                        </a>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <input type="hidden" class="filesToInsertDB" id="filesToInsertDB_H2" name="filesToInsertDB_H2">
                        <div class="dropzone dropzone_hitos" id="dropzone_H2"></div>
                        <button type="button" class="btn btn-sm btn-secondary me-3 btn-text-azul btn-save-hito m-4 btnGrabarArchivo" style="display:none;">
                            <i class="bi bi-save btn-text-azul"></i>&nbsp;Grabar
                        </button>
                    </td>
                    <td class="text-center">
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-eye-fill"></i>Ver Resolución
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="btn-text-azul">Hito 3: Elaboración del Plan de Autoevaluación</td>
                    <td>
                        <button class="btn btn-sm btn-secondary me-3 btn-text-azul" data-bs-target="#modalHito3" data-bs-toggle="modal">
                            <i class="bi bi-people-fill"></i>Registrar Cronograma
                        </button>
                    </td>
                    <td>
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-download"></i>Descargar Plan
                        </a>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <input type="hidden" class="filesToInsertDB" id="filesToInsertDB_H3" name="filesToInsertDB_H3">
                        <div class="dropzone dropzone_hitos" id="dropzone_H3"></div>
                        <button type="button" class="btn btn-sm btn-secondary me-3 btn-text-azul btn-save-hito m-4 btnGrabarArchivo" style="display:none;">
                            <i class="bi bi-save btn-text-azul"></i>&nbsp;Grabar
                        </button>
                    </td>
                    <td class="text-center">
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-eye-fill"></i>Ver Plan
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="btn-text-azul">Hito 4: Comunicación de Inicio de la Autoevaluación</td>
                    <td>
                        <button class="btn btn-sm btn-secondary me-3 btn-text-azul" data-bs-target="#modalHito4" data-bs-toggle="modal">
                            <i class="bi bi-people-fill"></i>Registro de Inicio
                        </button>
                    </td>
                    <td>
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-download"></i>Descargar Communicación
                        </a>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <input type="hidden" class="filesToInsertDB" id="filesToInsertDB_H4" name="filesToInsertDB_H4">
                        <div class="dropzone dropzone_hitos" id="dropzone_H4"></div>
                        <button type="button" class="btn btn-sm btn-secondary me-3 btn-text-azul btn-save-hito m-4 btnGrabarArchivo" style="display:none;">
                            <i class="bi bi-save btn-text-azul"></i>&nbsp;Grabar
                        </button>
                    </td>
                    <td class="text-center">
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-eye-fill"></i>Ver Comunicación
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="btn-text-azul">Hito 5: Acta de Reunión de Apertura</td>
                    <td>
                        <button class="btn btn-sm btn-secondary me-3 btn-text-azul" data-bs-target="#modalHito6" data-bs-toggle="modal">
                            <i class="bi bi-people-fill"></i>Registro de Inicio
                        </button>
                    </td>
                    <td>
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-download"></i>Descargar Acta
                        </a>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <input type="hidden" class="filesToInsertDB" id="filesToInsertDB_H5" name="filesToInsertDB_H5">
                        <div class="dropzone dropzone_hitos" id="dropzone_H5"></div>
                        <button type="button" class="btn btn-sm btn-secondary me-3 btn-text-azul btn-save-hito m-4 btnGrabarArchivo" style="display:none;">
                            <i class="bi bi-save btn-text-azul"></i>&nbsp;Grabar
                        </button>
                    </td>
                    <td class="text-center">
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-eye-fill"></i>Ver Acta
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="btn-text-azul">Hito 6: Autoevaluación</td>
                    <td>
                        <button class="btn btn-sm btn-secondary me-3 btn-text-azul" data-bs-target="#modalHito6" data-bs-toggle="modal">
                            <i class="bi bi-people-fill"></i>Registro de Inicio
                        </button>
                    </td>
                    <td>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <input type="hidden" class="filesToInsertDB" id="filesToInsertDB_H6" name="filesToInsertDB_H6">
                        <div class="dropzone dropzone_hitos" id="dropzone_H6"></div>
                        <button type="button" class="btn btn-sm btn-secondary me-3 btn-text-azul btn-save-hito m-4 btnGrabarArchivo" style="display:none;">
                            <i class="bi bi-save btn-text-azul"></i>&nbsp;Grabar
                        </button>
                    </td>
                    <td class="text-center">
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-eye-fill"></i>Ver Resultado
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="btn-text-azul">Hito 7: Acta de Reunión de Cierre</td>
                    <td>
                        <button class="btn btn-sm btn-secondary me-3 btn-text-azul" data-bs-target="#modalHito7" data-bs-toggle="modal">
                            <i class="bi bi-people-fill"></i>Registro de Cierre
                        </button>
                    </td>
                    <td>
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-download"></i>Descargar Acta
                        </a>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <input type="hidden" class="filesToInsertDB" id="filesToInsertDB_H7" name="filesToInsertDB_H7">
                        <div class="dropzone dropzone_hitos" id="dropzone_H7"></div>
                        <button type="button" class="btn btn-sm btn-secondary me-3 btn-text-azul btn-save-hito m-4 btnGrabarArchivo" style="display:none;">
                            <i class="bi bi-save btn-text-azul"></i>&nbsp;Grabar
                        </button>
                    </td>
                    <td class="text-center">
                        <a href="http://document.pdf" target="_blank" class="btn btn-sm btn-secondary me-3 btn-text-azul" >
                            <i class="bi bi-eye-fill"></i>Ver Acta
                        </a>
                    </td>
                </tr>
            </tbody>
    </table>
    </div>
</div>

<!-- MODAL HITO 1 -->
<div class="modal fade" id="modalHito1" tabindex="-1" aria-labelledby="modalHito1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    <form id="form_hito_1" class="form" action="" method="POST">       
        <div class="modal-header">
            <h5 class="modal-title btn-text-azul">Definir Comité de Acreditación - Hito 1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>        
        <div class="modal-body">                
                <div class="mb-3 text-end">
                    <button type="button" class="btn btn-light-primary btn-sm" id="btnAgregarMiembro"> <i class="bi bi-plus-lg"></i>
                        Agregar Miembro
                    </button>
                </div>
                <div class="table-responsive">
                    <input type="hidden" name="id_autoevaluacion" id="id_autoevaluacion" value="{{id_autoevaluacion}}">
                    <table class="table table-bordered align-middle" id="tablaMiembros">
                        <thead class="table-light">
                            <tr>
                                  <th width="42%" class="text-center btn-text-azul">Nombre</th>
                                  <th width="40%" class="text-center btn-text-azul">Cargo</th>
                                  <th width="10%" class="text-center btn-text-azul">¿Es Líder?</th>
                                  <th width="8%" class="text-center btn-text-azul">Acción</th>
                            </tr>
                        </thead>
                        <tbody id="filas_miembros">
                              <tr>
                                  <td>
                                      <input type="text" class="form-control" name="miembro_nombre[0]" placeholder="Ingrese nombre">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" name="miembro_cargo[0]" placeholder="Ingrese cargo">
                                  </td>
                                  <td>
                                      <select class="form-select" name="miembro_lider[0]">
                                          <option value="0" selected>NO</option>
                                          <option value="1">SI</option>
                                      </select>
                                  </td>
                                  <td class="text-center">
                                  </td>
                              </tr>
                        </tbody>
                    </table>                  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" id="btnGuardarComite">Guardar Comité</button>
        </div>        
    </form>
    </div>
  </div>
</div>

<!-- MODAL FORMATO HITO 1 -->
<div class="modal fade" id="modalResolucionHito1" tabindex="-1" aria-labelledby="modalResolucionHito1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    <form id="form_hito_1" class="form" action="" method="POST">       
        <div class="modal-header">
            <h5 class="modal-title btn-text-azul">Resolución de Conformación de Equipo de Acreditación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>        
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">No. de Resolución</label>
                    <input type="text" class="form-control" id="nro_resolucion_equipo_acreditacion" name="nro_resolucion_equipo_acreditacion" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Fecha de Resolución</label>
                    <input type="text" class="form-control" id="fecha_resolucion_equipo_acreditacion" name="fecha_resolucion_equipo_acreditacion" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="form-label">Resolución de Equipo de Acreditación</label>                    
                    <input type="hidden" class="filesToInsertDB" id="filesToInsertDB_H1" name="filesToInsertDB_H1">
                    <div class="dropzone dropzone_hitos" id="dropzone_H1"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-light-primary btn-save-hito" style="display:none;"><i class="bi bi-save"></i>&nbsp;Grabar</button>
        </div>        
    </form>
    </div>
  </div>
</div>

<!-- MODAL HITO 2 -->
<div class="modal fade" id="modalHito2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <!-- HEADER -->
            <div class="modal-header">
                <h5 class="modal-title">
                    Conformación del Equipo de Evaluadores Internos - Hito 2
                </h5>
                <button type="button"  class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <!-- BODY -->
            <div class="modal-body">
                <div class="alert bg-warning-subtle text-warning mb-4">
                    Registre como mínimo 5 evaluadores internos e indique si el evaluador es líder.
                </div>
                <!-- BOTÓN AGREGAR -->
                <div class="mb-3 text-end">
                    <button type="button"  class="btn btn-sm" onclick="agregarEvaluador()"> <i class="bi bi-plus-lg"></i>
                        Agregar Evaluador
                    </button>
                </div>
                <!-- TABLA -->
                <div class="table-responsive">
                    <table class="table table-bordered align-middle">
                        <thead class="table-light">
                            <tr>
                                <th width="70%">
                                    Nombre del Evaluador
                                </th>
                                <th width="20%">
                                    ¿Es Líder?
                                </th>
                                <th width="10%" class="text-center">
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tablaEvaluadores">
                            <!-- FILA -->
                            <tr>
                                <td>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Ingrese nombre del evaluador">
                                </td>
                                <td>
                                    <select class="form-select">
                                        <option value="NO" selected>NO</option>
                                        <option value="SI">SI</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            onclick="eliminarEvaluador(this)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"> Guardar Evaluadores </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('acreditacion.static', filename='js/bandeja.js') }}"></script>
<script src="{{ url_for('acreditacion.static', filename='js/formvalidator_hito1.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('acreditacion.static', filename='css/steps.css') }}">
<script>
    const ID_AUTOEVALUACION = {{ id_autoevaluacion | tojson }};
    const ID_IPRESS = {{ id_ipress | tojson }};
    ListadoEvent.init();
    FormValidatorHito1.init();
</script>
{% endblock %}
