{% extends "layout.html" %}

{% block content %}

<div class="card">
    <div class="card-header py-4">
        <h4>Lista de Ipress</h4>
    </div>

    <div class="card-body">
        <table id="tablaRedes" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>CODIGO IPRESS</th>
                    <th>NOMBRE IPRESS</th>
                    <th>NIVEL IPRESS</th>
                    <th>TIPO IPRESS</th>
                    <th>RED IPRESS</th>
                    <th>DEPARTAMENTO</th>
                    <th>PROVINCIA</th>
                    <th>DISTRITO</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('ipress.static', filename='js/event.js') }}"></script>
<script>
    RedesEvent.init();
</script>
{% endblock %}
