{% extends "layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header card-subtitle-header py-6">
        Lista de Ipress
    </div>
    <div class="card-body">
        <div class="text-end">      
        {% if permiso == 'add' %}
            <button class="btn btn-back-azul btn-nueva-ipress" id="btn-nueva-ipress" data-bs-toggle="modal" data-bs-target="#Modal_EditarIpress" data-id="0" data-tipo="nuevo" >
                <i class="bi bi-person-plus fs-3 text-white"></i> Nueva IPRESS
            </button>
        {% endif %}
        </div>
        <br>
        <table id="tablaIpress" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>NOMBRE IPRESS</th>
                    <th>NIVEL IPRESS</th>
                    <th>TIPO IPRESS</th>
                    <th>RED IPRESS</th>
                    <th>ES ACTIVO</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="Modal_EditarIpress" tabindex="-1" aria-labelledby="Modal_EditarIpress" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <form id="form_edit_ipress" class="form" action="/" method="POST">    
      <div class="modal-header">
        <h5 class="modal-title" id="editarModalLabel">Editar Ipress</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id_ipress" id="id_ipress" value="">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Código IPRESS</label>
                <input type="text" class="form-control" id="codigo_ipress" name="codigo_ipress" required>
            </div>
            <div class="col-md-8 mb-3">
                <label class="form-label">Nombre IPRESS</label>
                <input type="text" class="form-control" id="nombre_ipress" name="nombre_ipress" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mb-3">
                <label class="form-label">Nivel</label>
                <select class="form-select form-select-sm" id="sel_nivel_ipress" name="sel_nivel_ipress">
                    <option value="">Seleccione Nivel</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-label">Tipo</label>
                <select class="form-select form-select-sm" id="sel_tipo_ipress" name="sel_tipo_ipress">
                    <option value="">Seleccione Tipo</option>
                </select>
            </div>
            <div class="col-md-7 mb-3">
                <label class="form-label">Red</label>
                    <select class="form-select" id="sel_red_ipress" name="sel_red_ipress">
                        <option value="">Seleccione</option>
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Departamento</label>
                <select class="form-select" id="sel_departamento" name="sel_departamento">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Provincia</label>
                <select class="form-select" id="sel_provincia" name="sel_provincia">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Distrito</label>
                <select class="form-select" id="sel_distrito" name="sel_distrito">
                    <option value="">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                  <label for="ipress_estado" class="form-label">Estado:&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="activo_ipress" name="estado_ipress" style="vertical-align: middle; margin-top: -2px;" value="1" checked>
                  <label for="activo">&nbsp;Activo</label>
                  <input type="radio" id="inactivo_ipress" name="estado_ipress" style="vertical-align: middle; margin-top: -2px;" value="0">
                  <label for="inactivo">&nbsp;Inactivo</label>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-back-gris" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" id="btn_guarda_ipress"  class="btn btn-back-azul">Guardar</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('ipress.static', filename='js/event.js') }}"></script>
<script>
    IpressEvent.init();
</script>
{% endblock %}
